{% extends "accounts/base.html" %}

{% block content %}

{% if validlink %}

<p>请设置新密码：</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">新密码：</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">再次输入：</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="提交">
</fieldset>
</form>

{% else %}

<p>链接已失效</p>

{% endif %}

{% endblock %}